## Example in case script doesnt work for you. Edit as needed.

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=path/to/ALTER_desktop
Name=ALTER
Icon=path/to/icons/alter.png
