[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/home/rbatty/.local/share/ALTER_desktop/ALTER_desktop
Name=ALTER
Icon=/home/rbatty/.local/share/icons/alter.png
