/* From https://gist.github.com/febritecno/82ec55602ccd2cbb08ef69fa4c863d46 */
body{
overflow-x: hidden;
overflow-y: scroll;
 }
 
html{
	position: relative;
}
 
 body::-webkit-scrollbar{
	 display: none;
 }
