/* site.css */

/* header is draggable... */
header {
	-webkit-app-region: drag;
  }
  
  /* but any buttons inside the header shouldn't be draggable */
  header button {
	-webkit-app-region: no-drag;
  }
  
  /* perhaps move some items out of way for the traffic light */
  header div:first-child {
	margin-left: 100px;
	margin-top: 25px;
  }